<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"></a>
</nav>

<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>OSHA Inspection Application</h3>
        </div>
        
        <ul class="nav nav-tabs">
          <li class="active"><a href="#find-user-location" data-toggle="tab">Inspect</a></li>
          <br></br>
          <li><a href="#instagram-rip" data-toggle="tab">Run Script</a></li>
        </ul>

        <div class="tab-content ">
          <!-- Panel for Find Location -->
          <div class="tab-pane active" id="find-user-location">
            <form id = "find-user-location-form">
              <br></br>

              <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn primary active" id="top-button">
                  <p id = "locate">Find my location</p>
                </label>
              </div>

              <br></br>
              <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                  <div id="loader"></div>
                  <p id = "find-nearest">Near Me</p>
                </label>
              </div>
              <br></br>
            </form>
          </div><!-- end of class tab-pane -->

          <!-- Start of Instagram Copy-cat -->
          <div class="tab-pane" id="instagram-rip">
            
            <form id ="instagram-rip-form" method="POST">
              {% csrf_token %}
              <br></br>
              <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                  <div id="locater"></div>
                  
                  <p id = "LincolnParkLocation">Get Location for Submission</p>
                </label>
              </div>
              <div>
                <label>Photo ID:&nbsp</label>
                <input type="number placeholder="Unique Name" id="ids" name="ids">
              </div>              
              <div>
                <label>Caption:&nbsp</label>
                <input placeholder="Small Description" id="caption" name="caption">
              </div>
              
              <div>
                <label>Image:&nbsp</label>
                <!-- <label for="fileupload"> Select a file to upload</label> -->
                <input type="file" name="fileupload" value="Select Image" id="fileupload"> 
                <!-- <input type="text" name="filePath">  -->
              </div>
              <div>
                <div>
                  <label >Latitude:&nbsp</label>
                  <input type="number" step="0.000000000000001" name="latitude" id="lats" >
                </div>
                
                <div>
                  <label>Longitude:&nbsp</label>
                  <input type="number" step="0.000000000000001" name="longitude" id="longs">
                </div>
                <br>
                <input type="submit">
              </div>
              
            </form>
<!--             <form method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <label for="in_name">Enter name: </label>
              <input id="in_name" type="text" name="in_name">
              <input type="submit">
            </form>
 -->
          </div>
        </div> <!-- end of tab-content -->
    </nav>
    <!-- Page Content -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
<!-- 
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button> -->
                <div id="mapid" > </div>
            </div>
        </nav>
    </div>

</div>       