/*whole map*/
html, body, #map {
  height: 100%;
  width: 100%;
}

/* browser adds margin by default, and that adds a scrollbar, but we don't want that*/
body {
  margin: 0;
  overflow:hidden;
  overflow-x:hidden;
}

@font-face{
  font-family: impact;
  src: url(data/fonts/impact.ttf);  
}


::-webkit-scrollbar {
  width: .45em;
}

/* Track */
::-webkit-scrollbar-track {
  border: 10px solid rgba(0,0,0,0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.55);
  border-radius: 10px;
}




/*hides default white layer control background*/
.leaflet-control-layers-expanded {
    background-color: rgba(0,0,0,0);
}

/*hides default layer control border*/
.leaflet-control-layers {
    box-shadow: none;
}


/*title div of map */
.title {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width:100%;
  height: 8%;
  padding-top:.5em;
  padding-bottom:.2em;
  padding-left: 1.3em;
  background-color: rgba(33,69,31,1);
  color:rgba(255,201,7,1);
  font-family:'impact';
}

/* browser interprets title as h1 so use this for styling title */

#title-text h1{
    position:absolute;
    font-size: 200%;
    left: 1%;
    vertical-align:middle;
}

#title-logo{
    position:absolute;
    vertical-align:middle;
    left: 96%;
}


img#logo{
    width:80%;
}

button{
    background-color:rgba(0,0,0,0);
    border:rgba(0,0,0,0);
}

p.back-text{
    padding-left:0px;
    font-size:14px;
    width:80%;
}
    

.back-control button{
    color: rgba (0,0,0,0);
}


img#back-button{
    width:20%;
    padding-left:.5em;
    padding-bottom: .5em;
    float:left;
}


button#info-button{
    width:25%;
    padding-left:.8em;
    padding-bottom: .5em;
}


.my-labels{
      font-family:'impact';
}


.main-panel{
    z-index:10000000;
    position:fixed;
    width:25%;
    height:92%;
    left: 0px;
    bottom: 0px;
    background-color: rgba(19,105,58,1);
}


#intro-content-element{
    position:absolute;
    top:0px;
    width:100%;
    height:50%;
    background-color:rgba(0,0,0,0);
    overflow:auto;
    overflow-x:hidden;
}

#maps-div{
    position:absolute;
    top:51%;
    width:100%;
    height:49%;
    background-color:rgba(0,0,0,0);
    overflow:auto;
}

.card{
    background-color: rgba(0,0,0,0) !important;
    width: 100%;
}

.card-body{
    display:none;
}

.btn-link{
    color:white;
    font-size:90%;
}

.btn-link:hover{
    color: rgba(255,201,7,.9);
}





.caption-panel{
  display:none;
  position: fixed;
  z-index: 100000;
  position:fixed;
  width:25%;
  height:92%;
  left: 0px;
  bottom: 0px;
  background-color: rgba(19,105,58,1);
  font-size: 16px;
  overflow:auto;
  overflow-x:hidden;
}


#back-to-maps-element{
    display:block;
    background-color:rgba(0,0,0,0);
    position:sticky;
    height:5%;
    top:1.5%;
}

.caption-content-element{
    position:absolute;
    height: 55%;
    width:100%;
    top: 8%;
    overflow:auto;
    background-color:rgba(0,0,0,0);
    color:white;
    padding-top:1%;
    padding-left:1%;
    padding-right:2%;
}


#acquisition-layer-parent-element{
    position:absolute;
    height: 20%;
    width:100%;
    top:69%;
}

#acquisition-layer-question{
    position:absolute;
    height:40%;
    width:100%;
    top:0;
    background-color:rgba(0,0,0,0);
    font-family: 'Kameron', serif;
    color:rgba(255,201,7,1);
    padding-left:1%;
    padding-right:2%;
}


#acquisition-layer-control{
    position:absolute;
    height:30%;
    width:100%;
    top:41%;
    background-color:rgba(0,0,0,0);
}

#acquisition-layer-hint{
    font-family: 'Kameron', serif;
    position:absolute;
    height:30%;
    top:72%;
    color:white;
    padding-left:1%;
}
    


#transparency-parent-element{
    position:absolute;
    height: 10%;
    width:100%;
    top:90%;
}

#transparency-question{
    position:absolute;
    height:49%;
    width:100%;
    top:0;
    background-color:rgba(0,0,0,0);
    font-family: 'Kameron', serif;
    color: white;
    padding-left:1%;
}

#transparency-control{
    position:absolute;
    height:49%;
    width:100%;
    top:50%;
    background-color:rgba(0,0,0,0);
}




.leaflet-control-layers-expanded {
    color:white;
    font-family: 'Kameron', serif;
    font-size: 1em;
}

/*for opacity slider text */
p{
    color:white;
    font-size: 14px;
    letter-spacing: .05em;
    padding-left: 10px;
}

p#intro{
    margin-top:1em;
    color:white;
    font-size: 1.15em;
}

#theme-explanation{
    font-size: .9em;
}





/*styles the opacity slider*/
.opacity-slider {
/*   border: 2px solid rgba(33, 69, 31,1);
  border-radius: 4px;
  padding: 8px;
  padding-top:10px;
  font-weight: 500;
  font-size: 14px;
  background-color: rgba(33, 69, 31,0.9); */
}

.leaflet-left .leaflet-control{
/*  width:15%; */
}

/* actual bar inside opactiy slider */
#opacity-changer {
/*   width: 14%;
  height:.5em;
  border-radius:.5em;
  -webkit-appearance: none;
  background: rgba(255,201,7,.9); */
}

input#opacity-changer.ui-slider-handle{
    background: rgba(255,201,7,.9);
    width:96%;
    margin-left:1%;
}

.leaflet-tooltip.my-labels {
      background-color: transparent;
      border: transparent;
      box-shadow: none;
      font-weight:bold;
  }

i.fas.fa-chevron-left::before{
    vertical-align:middle;
    top: 18%;
    left:2%;
    color:white;
}

button.more-maps{
    color:white;
    vertical-align:middle;
    left: 6%;
}

button.more-maps:hover {
    color: rgba(255,201,7,.9);
    font-weight:bold;
}

div.leaflet-control-layers-overlays{
    padding-left:5%;
}


a.digital-collections {
    color:white;
    font-weight:bold;
}

a.digital-collections:hover {
    color: rgba(255,201,7,.9);
    font-weight:bold;
}


.digital-collections a:hover{
    color:rgba(255,201,7,1);
}



/* this gets rid of the option to turn off or change base layers && also the separator line in between  */
/* base layer choices and overlay image choices  */
.leaflet-control-layers-base, .leaflet-control-layers-separator {
  display: none;
}

/* put the map on the top */
.leaflet-top{
  z-index: 9999999999999999999;
}


/* CAPTION CONTENT */

p.caption-content-element{
    display:none;
}

/* RESPONSIVE */
@media (max-width: 1360px) {
  h1{
    font-size:38px;
  }
}

@media (max-width: 1320px) {
  h1{
    font-size:36px;
  }
}

@media (max-width: 1260px) {
  h1{
    font-size:34px;
  }
}

@media (max-width: 1198px) {
  h1{
    font-size:32px;
  }
}

@media (max-width: 1135px) {
  h1{
    font-size:30px;
  }
}

@media (max-width: 1072px) {
  h1{
    font-size:28px;
  }
  
}


@media (max-width: 946px) {
  h1{
    font-size:24px;
  }
}

@media (max-width: 880px) {
  h1{
    font-size:22px;
  }
  
}

@media (max-width: 821px) {
  h1{
    font-size:20px;
  }
}

@media (max-width: 758px) {
  #title{
    padding-bottom:10px;
  }

  h1 {
    margin-bottom: 0;
    font-size:18px;
  }
}

@media (max-width: 706px) {
  #title{
    padding-bottom:10px;
  }

  h1 {
    margin-bottom: 0;
    font-size:16px;
  }
}


  @media (max-width: 435px){
#opacity-slider{
    width:15em;
}
#opacity-changer{
    width:14em;
}

 }
}