/*NAVAGATION BAR*/
.navbar-default {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 20px;
    color: #4D4D4D;
    background-color: #133762;
    border-color: transparent;
    box-shadow: 0px 1px 7px #888888;
    z-index: 99999;
}

.navbar-brand {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-size: 24px;
    color: #4D4D4D;
}




h1, h2, h3, h4, p {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

span {
    font-weight: normal;
}

 body {
    padding-top: 70px;
  }


#mapid {
    height: 88vh;
    width: 100%;
    display: inline-block;
    
}

/* Sidebar */
#sidebar{
    height: 80vh;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: white;

}


.chart-title{
    margin: 2px;
    text-align: center;
}

#about {
    height: 88vh;
    width: 85%;
    display: inline-block;
    margin-left: 7.5%;
    margin-top: 70px;
}


.leaflet-popup-content-wrapper {
    opacity: 0.8;
}

.leaflet-control {
    opacity: .9;
}

/* LEGEND PER CHOROPLETH LIBRARY
modified for my use
*/
.legend {
    color: #555;
    padding: 6px 8px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.legend ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    clear: both;
}
.legend li {
    display: inline-block;
    width: 30px;
    height: 22px;
}
.legend .min {
    float: left;
    padding-bottom: 5px;
}
.legend .max {
    float: right;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    border-radius: 5px;
}










        



